extends _core/layout

include components/post/post
include components/test/test
block content

  +row
    +col({
      cols: [12, 1, 6]
    })
      +post({
        title: "A taste of life"
      })
    +col({
      cols: [12, 1, 6]
    })
      +post({
        title: 'Title active: false'
      })
